<!doctype html>
<html>
	<head>
		<title>fcc-voter.herokuapp.com</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% include ../snippets/css/sharedCSS %>
		<% include ../snippets/analytics %>

		<link rel="stylesheet" href="/css/loggedIn.css">
	</head>
	<body ng-app="poll" class="nojs">
		<div class="ui middle aligned center aligned grid">
			<div class="row">
				<div class="column">
					<h1 class="ui header">
						<i class="anchor icon"></i>Profile Page
					</h1>
					<div class="ui vertical large buttons">
						<a href="/logout" class="ui animated red button">
							<div class="visible content">
								Logout
							</div>
							<div class="hidden content">
								<i class="log out large icon"></i>
							</div>
						</a>
						<br>
						<a href="/poll/new" class="ui primary button">New Poll</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<div class="ui stacked segment styled fluid accordion" ng-controller="showPolls">
						<div class="title">
							<i class="dropdown icon"></i>
							Configuration
						</div>
						<div class="content" style="padding: 0;">
							<% include ../snippets/html/userProfile %>
						</div>
						<div class="title">
							<i class="dropdown icon"></i>
							Connect Accounts
						</div>
						<div class="content" style="padding: 0;">
							<% include ../snippets/html/connectAccounts %>
						</div>
						<div class="title" ng-click="getPolls()">
							<i class="dropdown icon"></i>
							Owned Polls
						</div>
						<div class="content">
							<% include ../snippets/html/showPolls %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ../snippets/js/sharedJS %>
		<% include ../snippets/js/profile %>
	</body>
</html>
