body {
  background-color: #B70B2F;
}

.column {
  max-width: 40%
}

@media screen and (max-width: 900px) {
    .column {
      max-width: 50%
    }
}

@media screen and (max-width: 768px) {
    .column {
      max-width: 60%
    }
}

@media screen and (max-width: 580px) {
    .column {
      max-width: 70%
    }
}

@media screen and (max-width: 480px) {
    .ui.container {
      margin: 0 !important;
    }
    .column {
      max-width: 90%
    }
}

th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}

td {
  word-break: break-all !important;
}
