<!doctype html>
<html>
    <head>
      <title>Votação.com</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <style>
          body {
              padding-top: 80px;
              word-wrap: break-word;
          }

      </style>
    </head>
    <body ng-app="poll">
        <div class="container">
            <div class="page-header text-center">
                <h1>
                    <span class="fa fa-anchor"></span>Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <br>
            </div>

            <div class="row" ng-controller="pollController">
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input name="question" type="text" placeholder="Enter your Question" ng-model="newPoll.question"></input>
                    </div>
                    <div class="form-group" ng-repeat="option in newPoll.options">
                      <label> Option {{ option.id + 1 }}</label>
                      <input id="opt{{ option.id }}" name="text" type="text" placeholder="Poll Option" ng-model="option.text">
                      <button ng-hide="$first" class="btn btn-danger btn-xs" ng-click="deleteOption(option.id)"><i class="fa fa-minus fa-xs"></i></button>
                    </div>

                    <button class="btn btn-success btn-xs" title="Add Poll Option" ng-click="addOption()"><i class="fa fa-plus fa-xs"></i>&nbsp;Add Option</button>
                    <br><button class="btn btn-primary" ng-click="createPoll()">Create a Poll</button>

                </form>
            </div>
        </div>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js'></script>
        <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js'></script>
        <script src="/js/newPoll.controller.js" rel="stylesheet"></script>
    </body>
</html>
