<footer class="ui center aligned raised segment">
	<div class="ui compact borderless menu">
		<a class="item icon" href="https://twitter.com/franciscoknebel" target="_blank">
			<i class="large twitter icon"></i>
		</a>
		<a class="item icon" href="https://github.com/franciscoknebel" target="_blank">
			<i class="large github icon"></i>
		</a>
		<a class="item" href="https://github.com/franciscoknebel/fcc-voter" target="_blank">Fork me</a>
	</div>
</footer>
